@font-face {
	font-family: "Roboto Condensed";
	src: url('../font/RobotoCondensed-Regular.ttf');
}
body {
	font-family: Roboto Condensed;
	margin: 0;
	padding: 0;
	color: #555;
}
a { color: #555; text-decoration: none; }

header {
	display: flex;
	justify-content: space-between;
	background: #f2f2f2;
	border-bottom: 1px solid #d2d2d2;
}
header .logo { font-size: 40px; }
header img.logo-img {
	vertical-align: middle;
	margin-left: 20px;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav .nav { 
	margin-right: 20px;
	font-size: 20px;
	margin-top: 12%; 
}
nav .nav a{
	text-decoration: none;
	color: #555;
}
content {
	display: flex;
	justify-content: space-between;
}
content .left-content {
	padding: 50px;
	width: 60%;
}
content .header-content {
	background: #27ae60;
	color: #fff;
	padding: 10px;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}
content .paragraph-content table {
	width: 100%;
	margin-top: 5px;
}
content .right-content {
	padding: 50px;
	width: 40%;
}
content ul li {
	list-style: none;
}
content .right-content .paragraph-content ul li a{
	font-size: 20px;
}
content .right-content .paragraph-content ul.payment {
	font-size: 30px;
}
.about-us {
	font-size: 20px;
	width: 92%;
	margin: auto;
	margin-bottom: 100px;
}
.header-info {
	text-align: center;
	background: #3498db;
	color: #fff;
	padding: 10px;
}
footer {
	background: #34495e;
	color: #fff;
	padding: 20px;
	text-align: center;
}


.red { background: #e74c3c !important; }
.dark { background: #34495e !important; }

@media screen and (max-width: 1000px) {
	header .logo { font-size: 20px; }
	nav .nav { font-size: 12px }
	content .header-content { font-size: 18px;}
	header .logo img.logo-img { height: 100px; width: auto; }
}
@media screen and (max-width: 800px) {

	content { display: block; }
	content .left-content, content .right-content {
		padding: 30px;
		width: 80%;
		margin: auto;
	}
}
@media screen and (max-width: 600px) {
	nav .nav { font-size: 9px; }
	content .left-content img { height: 20px; }
	content { font-size: 10px; }
	.about-us { width: 70% }
	header .logo img.logo-img { height: 70px; width: auto; margin-left: 0; }
	header .logo { font-size: 13px; }
	nav .nav { margin-top: 10%; }
}